<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
	{% block title %}<title>Home Page</title>{% endblock %}
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
	<meta http-equiv="Pragma" content="no-cache"/>
	<meta http-equiv="Expires" content="0"/>
	{% load static %}
	<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery.fullPage.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery-ui.structure.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery-ui.theme.min.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		#section1.load-background{
			background:url({% static 'images/bg1.jpg' %}) no-repeat center center;
		}
		#section2.load-background{
			background:url({% static 'images/bg2.jpg' %}) no-repeat center center;
		}
		#section3.load-background{
			background:url({% static 'images/bg3.jpg' %}) no-repeat center center;
		}
	</style>
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.fullPage.js' %}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var pagesTitle = ["Home Page", "What can I do?", "Page number 3", "Page number 4"];
			var diet_not_loaded = true;
			var md_cover = false;
			$("#noscript").attr("style","display: none;"),
			$("#fullpage").fullpage({
				verticalCentered: false,
				css3: false,
				menu: "#menu",
				anchors: ["Home", "WhatCanIDo", "3rdPage", "4thPage"],
				sectionsColor: ["#F0F2F4", "#fff", "#fff", "#fff"],
				navigation: true,
				navigationPosition: "right",
				navigationTooltips: pagesTitle,
				responsiveWidth: 900,
				afterLoad: function(anchorLink, index) {
					if (index == 4 && diet_not_loaded) {
						$.ajax({
							url: "/api/get_diets/",
							dataType: "json",
							success: function(data) {
								if (data.status == 200) {
									var diets = $("#md-container-diets");
									var prep_from = $("#PrepFrom");
									diets.empty();
									prep_from.empty();
									diets.append("<div class=\"filter_menu_item keyingredient_selected\" value=\"any\" style=\"cursor: pointer\">any&nbsp;<span class=\"small_text\">-  Any diet</span></div>");
									for (var i = 0; i < data.message.list.length; i++) {
										diets.append("<div class=\"filter_menu_item\" value=\"" + data.message.list[i].name + "\" style=\"cursor: pointer\">" + data.message.list[i].name + "&nbsp;<span class=\"small_text\">-  " + data.message.list[i].desc + "</span></div>");
									}
									prep_from.append("<option id=\"0\" value=\"0\">Any duration</option>");
									for (var i = 1; i < 18; i++) {
										prep_from.append("<option id=\"" + i*10 + "\" value=\"" + i*10 + "\">" + int2duration(i*10) + "</option>");
									}
									prep_from.append("<option id=\"180\" value=\"180\">More then 3 hours</option>");
									$("#selected_diet").text("Any diet");
									diet_not_loaded = false;
									prep_from.change();
									tempGenerateList(); // XXX XXX XXX
								}
							}
						});

					}
					document.title = pagesTitle[index-1];
				},
				onLeave: function(index, nextIndex, direction) {
					if (index == 2 && direction == "down") {
						$(".section").eq(index -1).removeClass("moveDown").addClass("moveUp");
					} else if (index == 2 && direction == "up") {
						$(".section").eq(index -1).removeClass("moveUp").addClass("moveDown");
					}
					// Lazy load bg
					var destinationSection = $(".section").eq(nextIndex-1);
					destinationSection.addClass("load-background");
				},
				afterResponsive: function(isResponsive) {
					
				}
			});
			$("#moveToHome").click(function(e) {
				e.preventDefault();
				$.fn.fullpage.moveTo(1);
			});
			$("#moveToPage2").click(function(e) {
				e.preventDefault();
				$.fn.fullpage.moveTo(2);
			});
			$("#moveToPage3").click(function(e) {
				e.preventDefault();
				$.fn.fullpage.moveTo(3);
			});
			$("#moveToPage4").click(function(e) {
				e.preventDefault();
				$.fn.fullpage.moveTo(4);
			});
			$("#md-cover").click(function(e) {
				$(".md-panel-outer-wrapper").removeClass("_md-panel-shown").addClass("_md-panel-hidden");
				md_cover = false;
			});
			$(".md-ok").click(function(e) {
				$(".md-panel-outer-wrapper").removeClass("_md-panel-shown").addClass("_md-panel-hidden");
				md_cover = false;
			});
			$("#search_filter").click(function(e) {
				
			});
			$("#diet_filter").click(function(e) {
				if (md_cover == true) {
					$(".md-panel-outer-wrapper").removeClass("_md-panel-shown").addClass("_md-panel-hidden");
				}
				$("#md-cover").removeClass("_md-panel-hidden").addClass("_md-panel-shown");
				$("#md-panel-diet").removeClass("_md-panel-hidden").addClass("_md-panel-shown");
				md_cover = true;
			});
			$("#prep_time_filter").click(function(e) {
				if (md_cover == true) {
					$(".md-panel-outer-wrapper").removeClass("_md-panel-shown").addClass("_md-panel-hidden");
				}
				$("#md-cover").removeClass("_md-panel-hidden").addClass("_md-panel-shown");
				$("#md-panel-prep").removeClass("_md-panel-hidden").addClass("_md-panel-shown");
				md_cover = true;
			});
			$("#ingredient_filter").click(function(e) {
				
			});
			$("#md-panel-diet").on("click", ".filter_menu_item", function(e) {
				e.stopPropagation();
				e.stopImmediatePropagation();
				$(this).parent().find(".filter_menu_item").removeClass("keyingredient_selected");
				$(this).addClass("keyingredient_selected");
				$("#selected_diet").text($(this).attr("value"));
			});
			$("#PrepFrom").change(function () {
				var prep_from = $(this).find(":selected")[0].id;
				var prep_to = $("#PrepTo");
				prep_to.empty();
				if (prep_from == 0) {
					prep_to.append("<option id=\"0\" value=\"0\">Any duration</option>");
				}
				for (var i = 1; i < 18; i++) {
					if (prep_from <= i*10) {
						prep_to.append("<option id=\"" + i*10 + "\" value=\"" + i*10 + "\">" + int2duration(i*10) + "</option>");
					}
				}
				prep_to.append("<option id=\"180\" value=\"180\" selected>More then 3 hours</option>");
				$("#selected_prep").text($(this).find(":selected")[0].text + " - " + $("#PrepTo").find(":selected")[0].text);
			});
			$("#PrepTo").change(function () {
				$("#selected_prep").text($(this).find(":selected")[0].text + " - " + $("#PrepTo").find(":selected")[0].text);
			});
			$("#apiGetRecipesSuggestion").autocomplete({
				source: function(request, response) {
					$.ajax({
						url: "/api/get_recipes_suggestion/",
						dataType: "json",
						data: {q: request.term},
						success: function(data) {
							response($.map(data.message.suggestions, function(item) {
								return {
									label: item.name + " - " + item.calories + " Calories",
									value: item.name
								};
							}));
						}
					});
				},
				minLength: 3,
				open: function() {$(this).removeClass("ui-corner-all").addClass("ui-corner-top");},
				close: function() {$(this).removeClass("ui-corner-top").addClass("ui-corner-all");}
			});
			function int2duration(num) {
				if (num < 60) {
					return num + " Minutes";
				} else if (num == 60) {
					return "1 Hour";
				} else if (num < 120) {
					return "1 Hour " + (num-60) + " Minutes";
				} else if (num == 120) {
					return "2 Hours";
				} else {
					return "2 Hours " + (num-120) + " Minutes";
				}
			}
			function tempGenerateList() { // XXX XXX XXX
				for (var i = 0; i < 3; i++) {
					$("#recipes").append("\
							<div class=\"each_recipe_parent\">\
								<div class=\"each_recipe\">\
									<a target=\"_blank\" href=\"https://Lorem.ipsum\">\
										<div class=\"recipe\" style=\"background-image: url('https://images-gmi-pmc.edge-generalmills.com/7455fc0a-ffad-4526-8b68-e1a8b179914e.jpg');\">\
											<div class=\"recipe-info\">\
												<div class=\"recipe-title\">Balsamic-Glazed Steak Rolls</div>\
												<div class=\"recipe-info-footer\">\
													<span>2 hours 15 Minutes, 1,999 Calories</span>\
												</div>\
											</div>\
										</div>\
									</a>\
								</div>\
							</div>\
							<div class=\"each_recipe_parent\">\
								<div class=\"each_recipe\">\
									<a target=\"_blank\" href=\"https://Lorem.ipsum\">\
										<div class=\"recipe\" style=\"background-image: url('https://s3.amazonaws.com/supercook-thumbs/363402.jpg');\">\
											<div class=\"recipe-info\">\
												<div class=\"recipe-title\">Balsamic-Glazed Steak Rolls</div>\
												<div class=\"recipe-info-footer\">\
													<span>2 hours 15 Minutes, 1,999 Calories</span>\
												</div>\
											</div>\
										</div>\
									</a>\
								</div>\
							</div>");
				}
			}
		});
	</script>
</head>
<body>
<div id="noscript">
<div><strong>Warning: </strong>For full functionality of this site it is necessary to enable JavaScript.<br/>Here are the <a href="http://www.enable-javascript.com/" target="_blank"> instructions how to enable JavaScript in your web browser</a>.</div>
</div>
<div id="header">FoodFinder
	<ul id="menu">
		<li data-menuanchor="Home" class="active"><a id="moveToHome" href="#">Home Page</a></li>
		<li data-menuanchor="WhatCanIDo"><a id="moveToPage2" href="#">What can I do?</a></li>
		<li data-menuanchor="3rdPage"><a id="moveToPage3" href="#">Page number 3</a></li>
		<li data-menuanchor="4thPage"><a id="moveToPage4" href="#">Page number 4</a></li>
	</ul>
</div>
<div id="footer">The site was build as a the final project at Tel Aviv University Database Systems (Fall 2018/19) course (0368-3458).</div>
<div id="fullpage">
	<div class="section" id="section0" style="background:url({% static 'images/bg0.jpg' %}) no-repeat center center;">
		<div class="wrap">
			<div class="box fp-auto-height-responsive">
				<h1>FoodFinder</h1>
				A new and innovative way to find the best restaurant that <strong>fits</strong> you.<br/>
				Here you can find recipes by ingredient count, preparation time and diet..<br/>
				Ready? <a href="#WhatCanIDo">let's find you somewhere to eat</a>
			</div>
		</div>
	</div>
	<div class="section moveDown" id="section1">
		<div class="wrap">
			<div class="imgsContainer">
				<img src="{% static 'images/image0.jpg' %}" alt="Plate Left" id="plate_left"/>
				<img src="{% static 'images/image1.jpg' %}" alt="Plate Middle" id="plate_middle"/>
				<img src="{% static 'images/image2.png' %}" alt="Plate Right" id="plate_right"/>
			</div>
			<div class="box fp-auto-height-responsive">
				<h2>What Can I Do?</h2>
				<strong>Lorem ipsum</strong> dolor sit amet, consectetur <a href="#3rdPage">adipiscing elit</a>.
				Quisque eget dolor et leo porttitor <a href="#4thPage">consectetur id sit</a>.
			</div>
		</div>
	</div>
	<div class="section" id="section2">
		<div class="wrap">
			<div class="box fp-auto-height-responsive">
				<h2>Lorem ipsum dolor sit amet.</h2>
				 <strong>Lorem ipsum</strong> dolor sit amet, consectetur adipiscing elit. Suspendisse iaculis,
				 dolor non imperdiet vulputate, lorem dui posuere ipsum, nec tincidunt nunc tellus ultrices orci.
				 Donec vel luctus ipsum. Proin a venenatis leo, eget blandit.
			</div>
		</div>
	</div>
	<div class="section moveDown" id="section3">
		<div class="wrap">
			<div class="box fp-auto-height-responsive">
				<h2>Lorem ipsum dolor sit amet.</h2>
				<div class="filter_chip_container">
					<div class="filter_row">
						<div class="filter_option" id="search_filter"><i class="fa fa-search" aria-hidden="true"></i></div>
						<div class="filter_option" id="diet_filter">Diet <span id="selected_diet" class="small_text"></span></div>
						<div class="filter_option" id="prep_time_filter">Meal preparation time <span id="selected_prep" class="small_text"></span></div>
						<div class="filter_option" id="ingredient_filter">Ingredient</div>
					</div>
				</div>
				<div class="row clearfix" id="recipes-content-container">
					<div class="recipes-container">
						<div id="recipes" class="clearfix"></div>
					</div>
				</div>
				<div class="md-panel-outer-wrapper _md-panel-hidden" id="md-cover">
					<div class="md-panel _md-panel-backdrop _md-opaque-enter"></div>
				</div>
				<div class="md-panel-outer-wrapper _md-panel-hidden" id="md-panel-diet"> 
					<div class="_md-panel-focus-trap"></div>
					<div class="md-panel" style="top: 220px; left: 450px;">
						<div class="keyingredient_menu filter_menu">
							<h6 class="md-subhead" style="min-width: 224px">Select diet</h6>
							<hr width="90%">
							<div id="md-container-diets">
								<div class="filter_menu_item" value="invalid">~~ Waiting for data ~~<span class="small_text"></span></div>
							</div>
						</div>
						<div class="md-ok"><button class="md-button" type="button" style="width: 100%;padding: 10px;">Confirm</button></div>
					</div>
					<div class="_md-panel-focus-trap"></div>
				</div>
				<div class="md-panel-outer-wrapper _md-panel-hidden" id="md-panel-prep"> 
					<div class="_md-panel-focus-trap"></div>
					<div class="md-panel" style="top: 220px; left: 560px;">
						<div class="keyingredient_menu filter_menu">
							<h6 class="md-subhead" style="min-width: 224px">preparation time</h6>
							<hr width="90%">
							<div class="filter_menu_item">
								Between&nbsp;
								<select name="PrepFrom" id="PrepFrom">
									<option id="invalid" value="invalid">~~ Waiting for data ~~</option>
								</select>
							</div>
							<div class="filter_menu_item">
								To&nbsp;
								<select name="PrepTo" id="PrepTo">
									<option id="invalid" value="invalid">~~ Waiting for data ~~</option>
								</select>
							</div>
						</div>
						<div class="md-ok"><button class="md-button" type="button" style="width: 100%;padding: 10px;">Confirm</button></div>
					</div>
					<div class="_md-panel-focus-trap"></div>
				</div>
<!--				<section style="clear: both;display: flex">-->
<!--					<button class="md-button" type="button" style="width:300px">Load more recipes</button>-->
<!--				</section>-->
<!--				<div class="ui-widget">-->
<!--					Recipe name-->
<!--					<input type="text" name="recipesSearch" id="apiGetRecipesSuggestion"/>-->
<!--				</div>-->
<!--				<div class="ui-widget">-->
<!--					Ingredients-->
<!--					<ul>-->
<!--						<li><input type="text" name="ingredientsSearch1" class="apiGetingredientsSuggestion"/> <input type="checkbox" name="cb1" checked> Included</li>-->
<!--						<li><input type="text" name="ingredientsSearch2" class="apiGetingredientsSuggestion"/> <input type="checkbox" name="cb2" checked> Included</li>-->
<!--					</ul>-->
<!--				</div>-->
			</div>
		</div>
	</div>
</div>
</body>
</html>
