/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td{
	padding:0;
	margin:0;
}
a{
	text-decoration:none;
	color:blue;
}
table{
	border-spacing:0;
}
fieldset,img{
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var{
	font-weight:normal;
	font-style:normal;
}
strong{
	font-weight:bold;
}
ol,ul{
	list-style:none;
	margin:0;
	padding:0;
}
caption,th{
	text-align:left;
}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
	font-size:100%;
	margin:0;
	padding:0;
	color:#444;
}
q:before,q:after{
	content:'';
}
abbr,acronym{ border:0;
}
/* Custom CSS
 * --------------------------------------- */
body{
	font-family:arial,helvetica;
	color:#333;
	color:rgba(0,0,0,0.5);
}
.wrap{
	width:60%;
	min-width:700px;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}
h1{
	font-size:6em;
}
p{
	font-size:2em;
}
.intro p{
	width:50%;
	margin:0 auto;
	font-size:1.5em;
}
.section{
	text-align:center;
}
#menu li{
	display:inline-block;
	margin:10px;
	color:#000;
	background:#fff;
	background:rgba(255,255,255, 0.5);
	-webkit-border-radius:10px;
	border-radius:10px;
}
#menu li.active{
	background:#666;
	background:rgba(0,0,0, 0.5);
	color:#fff;
}
#menu li a{
	text-decoration:none;
	color:#000;
}
#menu li.active a:hover{
	color:#000;
}
#menu li:hover{
	background:rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding:9px 18px;
	display:block;
}
#menu li.active a{
	color:#fff;
}
#menu{
	display:inline;
	top:0;
	left:0;
	height:40px;
	z-index:70;
	width:100%;
	padding:0;
	margin:0;
}
.twitter-share-button{
	position:fixed;
	z-index:99;
	right:149px;
	top:9px;
}
#download{
	margin:10px 0 0 0;
	padding:15px 10px;
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	background-color:#49afcd;
	background-image:-moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image:-ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image:-webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
	background-image:-webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image:-o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image:linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color:#2f96b4 #2f96b4 #1f6377;
	border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	vertical-align:middle;
	cursor:pointer;
	display:inline-block;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
#download a{
	text-decoration:none;
	color:#fff;
}
#download:hover{
	text-shadow:0 -1px 0 rgba(0,0,0,.25);
	background-color:#2F96B4;
	background-position:0 -15px;
	-webkit-transition:background-position .1s linear;
	-moz-transition:background-position .1s linear;
	-ms-transition:background-position .1s linear;
	-o-transition:background-position .1s linear;
	transition:background-position .1s linear;
}
#infoMenu{
	height:20px;
	color:#f2f2f2;
	position:fixed;
	z-index:70;
	bottom:80px;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding:0 40px;
}
#infoMenu li a{
	display:block;
	margin:0 22px 0 0;
	color:#333;
	z-index:999;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}
#examplesList{
	display:none;
	background:#282828;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	padding:20px;
	float:left;
	position:absolute;
	bottom:29px;
	right:0;
	width:638px;
	text-align:left;
}
#examplesList ul{
	padding:0;
}
#examplesList ul li{
	display:block;
	margin:5px 0;
}
#examplesList ul li a{
	color:#BDBDBD;
	margin:0;
}
#examplesList ul li a:hover{
	color:#f2f2f2;
}
#examplesList .column{
	float:left;
	margin:0 20px 0 0;
}
#examplesList h3{
	color:#f2f2f2;
	font-size:1.2em;
	margin:0 0 15px 0;
	border-bottom:1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow:0 1px 0 rgba(255,255,255,0.1);
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.1);
	padding:0 0 5px 0;
}
/* Demos Menu
 * --------------------------------------- */
#demosMenu{
	position:fixed;
	bottom:10px;
	right:10px;
	z-index:999;
}
body{
	color:#333;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
/* Style for our header texts
* --------------------------------------- */
h1{
	font-size:5em;
	font-family:arial,helvetica;
	margin:0;
	padding:0;
}
h2{
	font-size:2em;
	margin:0 0 18px 0;
	font-family:arial,helvetica;
}
/* Common styles
* --------------------------------------- */
img{
	-webkit-transition:all 0.7s ease-out;
	-moz-transition:all 0.7s ease-out;
	-o-transition:all 0.7s ease-out;
	transition:all 0.7s ease-out;
}
.section{
	text-align:center;
	overflow:hidden;
	background-size:cover;
}

.box{
	text-align:left;
	font-size:1.2em;
	line-height:1.6em;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 10px;
	box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.25);
	padding: 15px;
}
/* Section 0
* --------------------------------------- */
#section0{
	padding:6% 0 0 0;
}
#section0 h1{
	padding:20px;
	margin:15px;
	font-family:Bookman;
}
#section0 img{
	height:100%;
	margin:20px 0 0 0;
}
/* Section 1
* --------------------------------------- */
#section1{
	padding:6% 0 0 0;
}
#section1 img{
	position:absolute;
	left:40px;
	top:100px;
}
#section1 .box{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-192px;
	margin-left:89px;
	width:395px;
	z-index:1;
}
#section1 .imgsContainer{
	display:block;
	position:absolute;
	z-index:1;
	top:42%;
	left:58%;
	margin-top:-325px;
	margin-left:-747px;
	width:800px;
	height:696px;
}
#section1 img{
	height:100%;
}
/*screen resolutions between 620px and 800px*/
@media all and (min-width:620px) and (max-width:800px){
	#section1 .imgsContainer{
	margin-top:-278px;
	margin-left:-685px;
	width:647px;
	height:563px;
	}
}
/*screen resolutions lower than 620px*/
@media all and (max-width:620px){
	#section1 .imgsContainer{
	margin-top:-208px;
	margin-left:-516px;
	width:534px;
	height:464px;
	}
}
#iphone2{
	z-index:10;
}
#iphone2.active{
	-webkit-transform:translate3d(-134px, 0px, 0px);
	-moz-transform:translate3d(-134px, 0px, 0px);
	-ms-transform:translate3d(-134px, 0px, 0px);
	transform:translate3d(-134px, 0px, 0px);
}
#iphone3{
	z-index:12;
}
#iphone3.active{
	-webkit-transform:translate3d(213px, 0px, 0px);
	-moz-transform:translate3d(213px, 0px, 0px);
	-ms-transform:translate3d(213px, 0px, 0px);
	transform:translate3d(213px, 0px, 0px);
}
#iphone4{
	z-index:11;
	left:140px;
}
#iphone4.active{
	-webkit-transform:translate3d(548px, 0px, 0px);
	-moz-transform:translate3d(548px, 0px, 0px);
	-ms-transform:translate3d(548px, 0px, 0px);
	transform:translate3d(548px, 0px, 0px);
}
/* Section 2
* --------------------------------------- */
#section2 img{
	position:absolute;
}
#section2 .imgsContainer,
#staticImg .imgsContainer,
#section3 .imgsContainer{
	position:absolute;
	z-index:1;
	left:0%;
	display:block;
	margin-top:-288px;
	width:0;
	height:0;
	-webkit-transition:all 1.2s ease-in-out;
	-moz-transition:all 1.2s ease-in-out;
	-o-transition:all 1.2s ease-in-out;
	transition:all 1.2s ease-in-out;
}
#section2.moveUp .imgsContainer{
	top:50%;
}
#section2.moveDown .imgsContainer,
#staticImg .imgsContainer{
	top:90%;
}
#section2.active .imgsContainer{
	top:50%;
}
#section2 .box{
	top:20%;
	left:6%;
	position:absolute;
	width:78%;
}
#plate_left{
	top:320px;
	left:0vw;
	width:20vw;
}
#plate_middle{
	top:320px;
	left:20vw;
	width:20vw;
}
#plate_right{
	top:320px;
	left:40vw;
	width:20vw;
}
#staticImg{
	display:block;
	position:absolute;
	z-index:1;
	top:200%;
	left:0;
	width:100%;
	min-width:980px;
	height:100%;
	-webkit-transition:all 0.7s ease-out;
	-moz-transition:all 0.7s ease-out;
	-o-transition:all 0.7s ease-out;
	transition:all 0.7s ease-out;
	-webkit-backface-visibility:hidden;
	-webkit-perspective:1000;
}
#staticImg.moveDown{
	-webkit-transform:translate3d(0, 100%, 0);
	-ms-transform:translate3d(0, 100%, 0);
	transform:translate3d(0, 100%, 0);
}
#staticImg.moveUp{
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}
#staticImg.moveDown .imgsContainer{
	top:50%;
}
#staticImg.moveDown img{
	top:155px;
}
#staticImg.active .imgsContainer{
	top:50%;
}
#staticImg.active img{
	top:487px;
}
/* Section 3
* --------------------------------------- */
#section3 .imgsContainer{
	top:50%;
}
#section3 img{
	top:155px;
	left:455px;
	position:absolute;
}
#section3 .box{
	text-align:center;
	margin:10% 0 0 0;
}
/* Overwriting fullPage.js tooltip color
* --------------------------------------- */
.fp-tooltip{
	color:#AAA;
}
#fp-nav span, .fp-slidesNav span{
	border-color:#AAA;
}
#fp-nav li .active span, .fp-slidesNav .active span{
	background:#AAA;
}
/* Fixed header and footer.
* --------------------------------------- */
#header, #footer{
	position:fixed;
	display:block;
	width:100%;
	background:#333;
	z-index:9;
	color:#f2f2f2;
}
#header{
	top:0px;
	padding-left:20px;
}
#footer{
	bottom:0px;
	padding:5px 0;
	text-align:center;
}
#noscript{
	position:fixed;
	padding:0;
	margin:0;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(255,255,255,0.8);
	z-index:100;
}
#noscript div{
	text-align:center;
	font-size:6em;
	color:#B22222;
}
#noscript strong{
	color:#8B0000;
}
#noscript a{
	color:#000080;
}
